@*@model IEnumerable<MVCFilme.Models.Filme>*@
@model MVCFilme.Models.FilmeGeneroViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Filmes</h2>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<form asp-controller="Filmes" asp-action="Index">
    <p>
        Genero: <select asp-for="filmeGenero" asp-items="Model.generos">
            <option value="">Todos</option>
        </select>
        Titulo: <input type="text" name="criterioBusca" />
        <input type="submit" value="Pesquisar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.filmes[0].Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.filmes[0].Lancamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.filmes[0].Genero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.filmes[0].Preco)
                </th>
                <th>
                   @Html.DisplayNameFor(model => model.filmes[0].Classificacao)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.filmes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classificacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detahes</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
